<footer id="footer">
	<p class="btn-back2top"><a href="javascript:;" title="back to top">back to top</a></p>
    <ul class="_cd-col-sm-3">
    	<li>
        	<h3>NEWSLETTER SIGN UP</h3>
            <p>Sign up to get the latest news, video, gllary, blog</p>
            <div class="search">
            	<form id="search-ft" action="#" method="get">
                	<input type="text" class="txt-box" name="q" id="search-footer" title="search" value="search"> <input type="submit" class="btn-srh" id="go-srh" value="GO">
                </form>
            </div>
        </li>
        <li>
        	<h3>STORES NEAR YOU</h3>
            <address>Address : 32 Ramkamhang24 
Yak32 Huamak Bangkapi Bangkok, Thailand (ติดรั้วเอแบคหัวหมาก) 
Time : TUE-SAT 11.00-20.00</address>
        </li>
        <li>
        	<h3>HELP</h3>
            <p><a href="<?php echo base_url('/page/contactus')?>" title="Contact Us">Contact Us</a><br>
            <a href="<?php echo base_url('/page/faq')?>" title="Faq">Faq</a><br>
            <a href="<?php echo base_url('/page/privacy')?>" title="Privacy  Policy">Privacy  Policy</a></p>
        </li>
        <li>
        	<h3>LINKS</h3>
            <p><a href="http://www.thaimtb.com/forum/viewforum.php?f=274" target="_blank" title="NichCycling On thaimtb.com">thaimtb.com</a><br>
            <a href="http://www.centralbike.co.th" target="_blank"  title="centralbike.co.th">centralbike.co.th</a><br>
            <a href="http://www.iphoneogram.com/nichcycling" target="_blank"  title="NichCycling On iphoneogram.com">iphoneogram.com</a></p>
        </li>
        
    </ul>
</footer>