<head>
<meta charset="utf-8">
<meta name="description" content="Nich Cycling - Bangkok, Thailand - Sports & Recreation">
<meta name="author" content="Nich Cycling - Bangkok, Thailand - Sports & Recreation">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="<?php echo assets_url('/imgs/ico/favicon.png')?>">
<title>Nich Cycling - Bangkok, Thailand - Sports & Recreation</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Custom styles for this template -->
<link href="<?php echo assets_url('/fonts/fontface.css')?>" rel="stylesheet">
<link href="<?php echo assets_url('/css/flexslider.css')?>" rel="stylesheet">
<link href="<?php echo assets_url('/css/themes.css')?>" rel="stylesheet">
<script src="<?php echo assets_url('/js/jquery.js')?>"></script>
<script src="<?php echo assets_url('/js/jquery.tools.min.js')?>"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--[if lt IE 9]>
  <script src="<?php echo assets_url('/js/html5shiv.js')?>"></script>
  <script src="<?php echo assets_url('/js/respond.min.js')?>"></script>
<![endif]-->
</head>