<header id="header">
    <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
        <a href="<?php echo base_url('/home');?>" itemprop="url">Nich Cycling</a>
        <img src="<?php echo assets_url('/imgs/logo.png')?>" itemprop="logo">
    </h1>
    
    <nav id="navigation" class="top-nav">
        <ul id="nav-drop">
              <li><a href="<?php echo base_url('/home');?>" class="selected">HOME</a></li>
              <li><a href="<?php echo base_url('/frame');?>">FRAME</a></li>
              <li><a href="<?php echo base_url('/wheelset');?>">WHEELSET</a></li>
              <li><a href="<?php echo base_url('/shop');?>">SHOP</a></li>
              <li><a href="<?php echo base_url('/page/aboutus');?>">ABOUT US</a></li>
              <li><a href="javascript:;">MEDIA</a>
              	<ul>
                	<li><a href="<?php echo base_url('/media/video');?>" title="VIDEO">VIDEO</a></li>
                    <li><a href="<?php echo base_url('/media/news');?>" title="NEWS">NEWS</a></li>
                    <li><a href="<?php echo base_url('/media/gallery');?>" title="GALLERY">GALLERY</a></li>
                </ul>
              </li>              
          </ul>
          
          <span class="btn-nv-m">
              <a class="b-ex" href="#navigation" title="Expand">Expand Nav</a>
              <a class="b-close" href="#" title="Close">Close Nav</a>
          </span>
      </nav>
      
      <ul class="social _cd-col-xs-6-sm-3">
      	<li class="fb"><a href="https://www.facebook.com/NichCycling" target="_blank" title="NichCycling On facebook">facebook</a></li>
        <li class="tw"><a href="#" target="_blank" title="NichCycling On twitter">twitter</a></li>
        <li class="ig"><a href="http://instagram.com/nichcycling" target="_blank" title="NichCycling On instagram">instagram</a></li>
        <li class="yt"><a href="http://www.youtube.com/user/nichmovie" target="_blank" title="NichCycling On youtube">youtube</a></li>
      </ul>
</header>